# ignora la carpeta del entorno virtual
venv/
env/

# ignora archivos compilados de Python
__pycache__/
*.pyc

# ignora archivos del sistema operativo
.DS_Store

# Variables de entorno (Credenciales secretas)
.env