{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alke Wallet</title>
    <link rel="stylesheet" href="{% static 'gestion/style.css' %}">
    
</head>
<body>

    <div class="container">
        
        <nav>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'cliente_list' %}">Clientes</a>
            <a href="{% url 'cuenta_list' %}">Cuentas</a>
            <a href="{% url 'transaccion_list' %}">Transacciones</a>
            
            <span style="float: right;">
                {% if user.is_authenticated %}
                    Hola, <strong>{{ user.username }}</strong> | <a href="/admin/">Ir al Panel Admin</a>
                {% endif %}
            </span>
        </nav>
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>